name: Meshbits docker images

on:
  push:
  # everyday at 3 am
  schedule:
    - cron: '* 3 * * *'

env:
  IMAGE_REPO: docker.pkg.github.com/${{ github.repository }}/${{ github.job }}
  IMAGE_VERSION: 0.${{ github.run_number }}

defaults:
  run:
    shell: bash

jobs:

  komodobuild_linux:
    name: komodobuild_linux
    runs-on: ubuntu-20.04
    env:
      OS: linux

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: repo_lowercase
      run: |
        repo_lowercase="${{ env.IMAGE_REPO }}:${{ env.IMAGE_VERSION }}"
        echo "##[set-output name=repo;]$(echo ${repo_lowercase,,})"
      id: repo_lowercase

    - name: Build and tag image
      run: docker build -t ${{ steps.repo_lowercase.outputs.repo }} -f komodo/Dockerfile_${{ env.OS }} komodo/

    - name: Docker Login
      uses: azure/docker-login@v1
      with:
        login-server: docker.pkg.github.com
        username: $GITHUB_ACTOR
        password: ${{ secrets.ns408_packages_token }}

    - name: Publish image
      run: docker push ${{ steps.repo_lowercase.outputs.repo }}

  komodobuild_win:
    name: komodobuild_win
    runs-on: ubuntu-20.04
    env:
      OS: win

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: repo_lowercase
      run: |
        repo_lowercase="${{ env.IMAGE_REPO }}:${{ env.IMAGE_VERSION }}"
        echo "##[set-output name=repo;]$(echo ${repo_lowercase,,})"
      id: repo_lowercase

    - name: Build and tag image
      run: docker build -t ${{ steps.repo_lowercase.outputs.repo }} -f komodo/Dockerfile_${{ env.OS }} komodo/

    - name: Docker Login
      uses: azure/docker-login@v1
      with:
        login-server: docker.pkg.github.com
        username: $GITHUB_ACTOR
        password: ${{ secrets.ns408_packages_token }}

    - name: Publish image
      run: docker push ${{ steps.repo_lowercase.outputs.repo }}